<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from gambolthemes.net/html-items/cursus_demo_f12/categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:56:17 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>Cursus - Courses</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="images/fav.png">
    <link href="/css/instructor-dashboard.css" rel="stylesheet" type="text/css">
    <link href="/css/instructor-responsive.css" rel=rel="stylesheet" type="text/css">
    <link href="/css/vertical-responsive-menu1.min.css" rel="stylesheet" type="text/css">
    <link href="/css/jquery-steps.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <%- include('../partials/head'); -%>


</head>

<body>
<%- include('../partials/navbar'); -%>
<!-- Header End -->
<!-- Left Sidebar Start -->
<%- include('../partials/left-menu'); -%>
<!-- Left Sidebar End -->
<!-- Body Start -->
<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="st_title"><i class="uil uil-analysis"></i> Manage Course</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive mt-30" style="background-color: white">
                        <table class="table ucp-table row-border" id="subCategoryTable">
                            <thead class="thead-s" >
                            <tr>
                                <th class="cell-ta" >Name</th>
                                <th class="cell-ta" >Category</th>
                                <th class="cell-ta" >Sub Category</th>
                                <th class="cell-ta"> Lecturer</th>
                                <th class="text-center" scope="col">Banned</th>
                                <th class="text-center" scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(i =0;i<course.length;i++){%>
                            <tr data-id="<%=course[i]._id%>">
                                <td class="cell-ta" ><a href="/course/<%=course[i]._id%>"><%=course[i].title%></a></td>
                                <td class="cell-ta" ><%=course[i].mainCate%></td>
                                <td class="cell-ta" ><%=course[i].subCate%></td>
                                <td class="cell-ta" ><%=course[i].Lecturer_name%></td>
                                <td class="text-center"><b><%-(course[i].deleted) ? "<i class='uil uil-check text-success' style='font-size: 150%'></i>" :""%></b></td>

                                <td class="text-center">
                                    <a href="#" title="Delete" class="gray-s"><i class="uil uil-trash-alt"></i></a>
                                </td>
                            </tr>

                            <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer'); -%>
    </div>
</div>
<!-- Body End -->

<script src="/js/vertical-responsive-menu.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/OwlCarousel/owl.carousel.js"></script>
<script src="/vendor/semantic/semantic.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/night-mode.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
<!-- Hàm cho main cate-->
<script>
    $.extend({
        el: function (el, props) {
            var $el = $(document.createElement(el));
            $el.attr(props);
            return $el;
        }
    });
</script>
<!--Hàm cho sub cate-->
<script>
    $(document).ready(function () {
        let table= $('#subCategoryTable').DataTable();
        $('#subCategoryTable').on('click','a[title="Delete"]',function () {
            let id = $(this).closest('tr').data('id');
            $tr=$(this).closest('tr');
            alert($tr.find('td.text-center b').eq(0).html())
            if($tr.find('td.text-center b').eq(0).html()==="") {
                $.ajax({
                    async: false,
                    url: "/admin/delCourse",
                    type: 'POST',
                    contentType: "application/json; charset=UTF-8",
                    data: JSON.stringify({id: id}),
                    success: function (data) {
                        if (data.success) {
                            Swal.fire(
                                'Banned!',
                                'Course has been banned.',
                                'success'
                            ).then(() => {
                                $tr.find('td.text-center b').eq(0).html("<i class='uil uil-check text-success' style='font-size: 150%'></i>")
                            })
                        } else {
                            Swal.fire(
                                'Fail!',
                                'Ban course Fail !!!.',
                                'error'
                            )
                        }
                    },
                    error: function (result) {
                        Swal.fire(
                            'Error!',
                            `${JSON.stringify(result)}`,
                            'error'
                        );
                    }

                })
            }
            else{
                $.ajax({
                    async: false,
                    url: "/admin/openCourse",
                    type: 'POST',
                    contentType: "application/json; charset=UTF-8",
                    data: JSON.stringify({id: id}),
                    success: function (data) {
                        if (data.success) {
                            Swal.fire(
                                'Unbanned!',
                                'Course has been unbanned.',
                                'success'
                            ).then(() => {
                                $tr.find('td.text-center b').eq(0).html("")
                            })
                        } else {
                            Swal.fire(
                                'Fail!',
                                'Ban course Fail !!!.',
                                'error'
                            )
                        }
                    },
                    error: function (result) {
                        Swal.fire(
                            'Error!',
                            `${JSON.stringify(result)}`,
                            'error'
                        );
                    }

                })

            }
        })

    })

</script>

</body>

<!-- Mirrored from gambolthemes.net/html-items/cursus_demo_f12/categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:56:17 GMT -->

</html>