<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from gambolthemes.net/html-items/Learnic_demo_f12/course_detail_view.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:56:25 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>Learnic - Course Detail View</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="/images/fav.png">

    <%- include('partials/head', {cats});-%>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <style>
        .text {
            height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* number of lines to show */
            -webkit-box-orient: vertical;
        }


        .dropdown:hover>.dropdown-menu {
            display: block;
        }

        .dropdown-menu {
            min-height: 400px;
            min-width: 250px;
        }

        .dropdown>.dropdown-toggle:active {
            /*Without this, clicking will make it sticky*/
            pointer-events: none;
        }

        .dropdown-menu .dropdown-toggle:after {
            border-top: .3em solid transparent;
            border-right: 0;
            border-bottom: .3em solid transparent;
            border-left: .3em solid;
        }

        .dropdown-menu {
            margin: 0;
            min-height: 500px;
        }

        .megasubmenu {
            left: 100%;
            top: 0;
            min-height: 100%;
            min-width: 100%;
        }

        .dropdown-menu>li:hover .megasubmenu {
            display: block;
            padding-left: 5%;

        }

    </style>


</head>

<body>

<!-- Header Start -->
<%- include('partials/navbar'); -%>
<!-- Header End -->
<!-- Left Sidebar Start -->
<%- include('partials/left-menu'); -%>

<!-- Left Sidebar End -->
<!-- Body Start -->
<div class="wrapper  _bg4586">
    <div class="_215b01">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section3125">
                        <div class="row justify-content-center">
                            <div class="col-xl-4 col-lg-5 col-md-6">
                                <div class="preview_video">
                                    <a href="#" class="fcrse_img" data-toggle="modal" data-target="#videoModal">
                                        <img src="<%=course.avatar%>" alt="">
                                        <div class="course-overlay">
                                            <%if(course.badge!==""){%>
                                            <div class="badge_seller"><%=course.badge%></div>
                                            <%}%>

                                        </div>
                                    </a>
                                </div>
                                <div class="_215b03">
                                    <a href="#" id="wishlistBtn" class="_215b11">
                                        <%if(isAddWishList){%>
                                        <span><i class='fas fa-heart text-danger '></i></span>Wishlist
                                        <%}else{%>
                                                <span><i class='uil uil-heart  '></i></span>Wishlist
                                        <%}%>
                                    </a>

                                </div>

                            </div>
                            <div class="col-xl-8 col-lg-7 col-md-6">
                                <div class="_215b03">
                                    <h2><%=course.title%></h2>
                                    <span class="_215b04"><%=course.short_description%></span>
                                </div>
                                <div class="_215b05">
                                    <div class="crse_reviews mr-2">
                                        <i class="uil uil-star"></i><%=averageRate.toFixed(1)%>
                                    </div>
                                    (<%=course.rates.length%> ratings)
                                </div>
                                <div class="_215b05">
                                    <%=course.enrollCount.toLocaleString()%> students enrolled
                                </div>
                                <div class="_215b06">

                                    <div class="_215b08">
                                        <% if (course.price !==0) {%>
                                        $<%=course.price %>
                                        <%if(course.price !== course.fullPrice){%>
                                        <h3 style="text-decoration: line-through; margin-left:0.5rem">
                                        $<%= course.fullPrice %>
                                            <%}%>
                                      </h3>
                                        <%} else {%>
                                            <h3 style="">
                                               FREE
                                            </h3>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="_215b05">
                                    Last updated <%=course.updatedAt.toLocaleDateString("en-US",{year: 'numeric', month: 'long', day: 'numeric'})%>
                                </div>
                                <ul class="_215b31">
                                    <%if(isJoined===false){%>
                                    <li><button id="buyBtn" class="btn_adcart">Buy Now</button></li>
                                    <%}else {%>
                                            <li><button id="" class="btn_adcart" style="background-color: #0ea432;border-color: #0ea432 ">Buyed</button></li>
                                        <%}%>
                                </ul>
                                <div class="_215fgt1">
                                    30-Day Money-Back Guarantee
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="_215b15 _byt1458">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="course_tabs">
                        <nav>
                            <div class="nav nav-tabs tab_crse justify-content-center" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active"  data-toggle="tab" href="#nav-about" role="tab" aria-selected="true">About</a>
                                <a class="nav-item nav-link"  data-toggle="tab" href="#nav-courses" role="tab" aria-selected="false">Courses Content</a>
                                <a class="nav-item nav-link"  data-toggle="tab" href="#nav-reviews" role="tab" aria-selected="false">Reviews</a>
                                <a class="nav-item nav-link"  data-toggle="tab" href="#nav-other-course" role="tab" aria-selected="false">Other Course</a>
                                <a class="nav-item nav-link"  data-toggle="tab" href="#nav-lecture-infor" role="tab" aria-selected="false">Lecture Information</a>


                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="_215b17">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="course_tab_content">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-about" role="tabpanel">
                                <div class="_htg452" >
                                    <%-course.detail_description%>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-courses" role="tabpanel">
                                <div class="crse_content">
                                    <h3>Course content</h3>
                                    <div class="_112456">
                                        <ul class="accordion-expand-holder">
                                            <li><span class="accordion-expand-all _d1452">Expand all</span></li>
                                            <li><span class="_fgr123"> <%=course.chapter.length%> lectures</span></li>
                                        </ul>
                                    </div>
                                    <div id="accordion" class="ui-accordion ui-widget ui-helper-reset">
                                        <% for(var i=0;i<   course.chapter.length;i++){%>
                                            <a href="javascript:void(0)" class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                                                <div class="section-header-left">
													<span class="section-title-wrapper">
														<i class='uil uil-presentation-play crse_icon'></i>
														<span class="section-title-text"><%=course.chapter[i].title%></span>
													</span>
                                                </div>
                                                <div class="section-header-right">
                                                    <span class="num-items-in-section"> <%=course.chapter[i].lecture.length%> lectures</span>
                                                    <span class="section-header-length"> <%=course.chapter[i].durationText%></span>
                                                </div>
                                            </a>
                                        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
                                            <% for(var j=0;j<course.chapter[i].lecture.length;j++){%>
                                            <div class="lecture-container">
                                                <div class="left-content">
                                                    <i class='uil uil-file icon_142'></i>
                                                    <div class="top">
                                                        <div class="title"><%=course.chapter[i].lecture[j].title%></div>
                                                    </div>
                                                </div>
                                                <div class="details">
                                                    <%if(course.chapter[i].lecture[j].preview) {%>
                                                    <a href="#" class="preview-text">Preview</a>
                                                    <%}%>
                                                    <span class="content-summary"><%=course.chapter[i].lecture[j].durationText%></span>
                                                </div>
                                            </div>
                                            <%}%>

                                        </div>
                                        <%}%>
                                    </div>
                                    <a class="btn1458" href="#">20 More Sections</a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-reviews" role="tabpanel">
                                <div class="student_reviews">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="reviews_left">
                                                <h3>Student Feedback</h3>
                                                <div class="total_rating">
                                                    <div class="_rate001"><%=averageRate.toFixed(1)%></div>
                                                    <div class="rating-box">
                                                        <%for(let i=1;i<=5;i++){%>
                                                            <%if(i<=averageRate){%>
                                                            <span class="rating-star full-star"></span>
                                                            <%}else if(i>averageRate && (i-averageRate)<=0.5){%>
                                                            <span class="rating-star half-star"></span>
                                                             <%}else{%>
                                                            <span class="rating-star empty-star"></span>

                                                            <%}%>

                                                        <%}%>

                                                    </div>
                                                    <div class="_rate002">Course Rating</div>
                                                </div>
                                                <div class="_rate003">
                                                    <div class="_rate004">
                                                        <div class="progress progress1" data-toggle="tooltip" data-placement="bottom" title="<%=((ratesPercent[4]/course.rates.length)*100).toFixed(1)%>%">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="<%=((ratesPercent[4]/course.rates.length)*100).toFixed(1)%>"
                                                                 style="width: <%=((ratesPercent[4]/course.rates.length)*100).toFixed(1)%>%"

                                                            ></div>
                                                        </div>

                                                        <div class="rating-box">
                                                            <span class="rating-star full-star"></span>
                                                            <span class="rating-star full-star"></span>
                                                            <span class="rating-star full-star"></span>
                                                            <span class="rating-star full-star"></span>
                                                            <span class="rating-star full-star"></span>
                                                        </div>
                                                    </div>
                                                    <div class="_rate004">
                                                        <div class="progress progress1" data-toggle="tooltip" data-placement="bottom" title="<%=((ratesPercent[3]/course.rates.length)*100).toFixed(1)%>%">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="<%=(ratesPercent[3]/course.rates.length)*100%>" aria-valuemin="0" aria-valuemax="100"
                                                                 style="width: <%=((ratesPercent[3]/course.rates.length)*100).toFixed(1)%>%"

                                                            ></div>
                                                        </div>
                                                        <div class="rating-box">
                                                            <span class="rating-star full-star"></span>
                                                            <span class="rating-star full-star"></span>
                                                            <span class="rating-star full-star"></span>
                                                            <span class="rating-star full-star"></span>
                                                            <span class="rating-star full-star"></span>
                                                        </div>
                                                    </div>
                                                    <div class="_rate004">
                                                        <div class="progress progress1" data-toggle="tooltip" data-placement="bottom" title="<%=((ratesPercent[2]/course.rates.length)*100).toFixed(1)%>%">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="<%=(ratesPercent[2]/course.rates.length)*100%>"
                                                                 aria-valuemin="0" aria-valuemax="100" style="width: <%=((ratesPercent[2]/course.rates.length)*100).toFixed(1)%>%"

                                                            ></div>
                                                        </div>
                                                        <div class="rating-box">
                                                            <span class="rating-star full-star"></span>
                                                            <span class="rating-star full-star"></span>
                                                            <span class="rating-star full-star"></span>
                                                            <span class="rating-star full-star"></span>
                                                            <span class="rating-star full-star"></span>
                                                        </div>
                                                    </div>
                                                    <div class="_rate004">
                                                        <div class="progress progress1" data-toggle="tooltip" data-placement="bottom" title="<%=((ratesPercent[1]/course.rates.length)*100).toFixed(1)%>%">
                                                            <div class="progress-bar " role="progressbar" aria-valuenow="2"
                                                                 aria-valuemin="0" aria-valuemax="100"
                                                                 style="width: <%=((ratesPercent[1]/course.rates.length)*100).toFixed(1)%>%"

                                                            ></div>
                                                        </div>
                                                        <div class="rating-box">
                                                            <span class="rating-star full-star"></span>
                                                            <span class="rating-star full-star"></span>
                                                            <span class="rating-star empty-star"></span>
                                                            <span class="rating-star empty-star"></span>
                                                            <span class="rating-star empty-star"></span>
                                                        </div>
                                                    </div>
                                                    <div class="_rate004">
                                                        <div class="progress progress1" data-toggle="tooltip" data-placement="bottom" title="<%=((ratesPercent[0]/course.rates.length)*100).toFixed(1)%>%">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                                                 style="width: <%=((ratesPercent[0]/course.rates.length)*100).toFixed(1)%>%"

                                                            ></div>
                                                        </div>
                                                        <div class="rating-box">
                                                            <span class="rating-star full-star"></span>
                                                            <span class="rating-star empty-star"></span>
                                                            <span class="rating-star empty-star"></span>
                                                            <span class="rating-star empty-star"></span>
                                                            <span class="rating-star empty-star"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="review_right">
                                                <div class="review_right_heading">
                                                    <h3>Reviews</h3>
                                                    <div class="review_search">
                                                        <input class="rv_srch" type="text" placeholder="Search reviews...">
                                                        <button class="rvsrch_btn"><i class='uil uil-search'></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="review_all120">
                                                <%for(var i=0;i<course.rates.length;i++){%>
                                                    <div class="review_item">
                                                        <div class="review_usr_dt">
                                                            <img src="/images/left-imgs/img-<%=(i%17+1)%>.jpg" alt="">
                                                            <div class="rv1458">
                                                                <h4 class="tutor_name1"><%=studentReviewName[i]%></h4>
                                                            </div>
                                                        </div>
                                                        <div class="rating-box mt-20">
                                                            <%for(var j=1;j<=5;j++){%>
                                                                <%if(j<=course.rates[i].score){%>
                                                                <span class="rating-star full-star"></span>
                                                            <%}else{%>
                                                                <span class="rating-star empty-star"></span>

                                                            <%}%>
                                                            <%}%>

                                                        </div>
                                                        <p class="rvds10"><%=course.rates[i].review%></p>
                                                    </div>

                                                <%}%>
                                                <div class="review_item">
                                                    <a href="#" class="more_reviews">See More Reviews</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-other-course" role="tabpanel">
                                <div class="_14d25 mb-20">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="mhs_title">5 Results</h4>
                                            <%for (let i =0;i<otherCourse.length;i++){%>
                                            <div class="fcrse_1 <%=(i!=0) ? 'mt-30' : ''%>">
                                                <a href="/course/<%=otherCourse[i]._id%>" class="hf_img">
                                                    <img src="<%=otherCourse[i].avatar%>" alt="">
                                                </a>
                                                <div class="hs_content">
                                                    <div class="eps_dots eps_dots10 more_dropdown">
                                                        <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                                        <div class="dropdown-content">
                                                            <span><i class="uil uil-share-alt"></i>Share</span>
                                                            <span><i class="uil uil-clock-three"></i>Watch Later</span>
                                                            <span><i class="uil uil-ban"></i>Not Interested</span>
                                                            <span><i class="uil uil-windsock"></i>Report</span>
                                                        </div>
                                                    </div>
                                                    <div class="vdtodt">
                                                        <span class="vdt14"><%=otherCourse[i].viewCount.toLocaleString()%> views</span>
                                                    </div>
                                                    <a href="/course/<%=otherCourse[i]._id%>" class="crse14s title900"><%=otherCourse[i].title%></a>
                                                    <div class="auth1lnkprce">
                                                        <p class="cr1fot">By <a href="#"><%=otherCourse[i].short_description%></a></p>
                                                        <div class="prce142">$10</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>


                                        </div>
                                    </div>
                                </div>                            </div>
                            <div class="tab-pane fade" id="nav-lecture-infor" role="tabpanel">
                                <div class="_14d25 mb-20">
                                    <div class="_216b01">
                                        <div class="container-fluid">
                                            <div class="row justify-content-md-center">
                                                <div class="col-md-10">
                                                    <div class="section3125 rpt145">
                                                        <div class="row">
                                                            <div class="col-lg-7">
                                                                <a href="#" class="_216b22">
                                                                    <span><i class="uil uil-cog"></i></span>Setting
                                                                </a>
                                                                <div class="dp_dt150">
                                                                    <div class="img148">
                                                                        <img src="/images/left-imgs/img-<%=Math.floor(Math.random() * 17) + 1;%>.jpg" alt="">
                                                                    </div>
                                                                    <div class="prfledt1">
                                                                        <h2><%=lecturer.name%></h2>
                                                                        <span><%=lecturer.shortDescbibe%></span>
                                                                    </div>
                                                                </div>
                                                                <ul class="_ttl120">
                                                                    <li>
                                                                        <div class="_ttl121">
                                                                            <div class="_ttl122">Enroll Students</div>
                                                                            <div class="_ttl123">612K</div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="_ttl121">
                                                                            <div class="_ttl122">Courses</div>
                                                                            <div class="_ttl123"><%=lecturer.courses.length%></div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="_ttl121">
                                                                            <div class="_ttl122">Reviews</div>
                                                                            <div class="_ttl123">11K</div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="_ttl121">
                                                                            <div class="_ttl122">Subscriptions</div>
                                                                            <div class="_ttl123">452K</div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-lg-5">
                                                                <div class="rgt-145">
                                                                    <ul class="tutor_social_links">
                                                                        <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                                        <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                                        <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                                        <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                                                    </ul>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="_htg451">
                                                <div class="_htg452">
                                                    <h3>About Me</h3>
                                                    <p><%=lecturer.detailDescribe%></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>
</div>
<!-- Body End -->

<script src="/js/vertical-responsive-menu.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/OwlCarousel/owl.carousel.js"></script>
<script src="/vendor/semantic/semantic.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/night-mode.js"></script>
<script>
    $.extend({
        el: function(el, props) {
            let $el = $($("<"+el+" />"));
            $el.attr(props);
            return $el;
        }
    });
    $(document).ready(function () {
        $('#wishlistBtn').click(function () {
            if($(this).find('i').hasClass('uil')) {
                $.ajax({
                    async: false,
                    url: "/course/addwishlist/<%= course._id %>",
                    type: 'POST',
                    contentType: "application/json; charset=UTF-8",
                    success: function (data) {
                        Swal.fire(
                            'Add Success!',
                            `You have added this course to your wishlist`,
                            'success'
                        );
                        $('#wishlistBtn').find('i').remove()
                        $('#wishlistBtn').find('span').append($.el('i',{'class':'fas fa-heart text-danger'}))

                    },

                    error: function () {
                        Swal.fire(
                            'Error!',
                            `${JSON.stringify(result)}`,
                            'error'
                        );
                    },

                })
            }
            else{
                $.ajax({
                    async: false,
                    url: "/course/delwishlist/<%= course._id %>",
                    type: 'POST',
                    contentType: "application/json; charset=UTF-8",
                    success: function (data) {
                        Swal.fire(
                            'Add Success!',
                            `You have removed this course from your wishlist`,
                            'success'
                        );
                        $('#wishlistBtn').find('i').remove()
                        $('#wishlistBtn').find('span').append($.el('i',{'class':'uil uil-heart'}))
                    },

                    error: function () {
                        Swal.fire(
                            'Error!',
                            `${JSON.stringify(result)}`,
                            'error'
                        );
                    },

                })

            }
        })
        $('#buyBtn').click(function () {
            $.ajax({
                async: false,
                url: "/course/buy/<%= course.id %>",
                type: 'POST',
                contentType: "application/json; charset=UTF-8",

                success: function (data) {

                    if (data.success) {
                        Swal.fire(
                            'Buy Success!',
                            `You have buy success`,
                            'success'
                        );

                    }
                    else{
                        Swal.fire(
                            {
                                title: 'You need to login!',
                                timer: 1000
                            }
                        );
                        window.location.href = "/signin";
                    }
                },

                error: function () {
                    Swal.fire(
                        'Error!',
                        `${JSON.stringify(result)}`,
                        'error'
                    );
                },

            })
        })
    })
</script>

</body>

<!-- Mirrored from gambolthemes.net/html-items/Learnic_demo_f12/course_detail_view.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:56:25 GMT -->
</html>