<!DOCTYPE html>
<html lang="en">


  <!-- Mirrored from gambolthemes.net/html-items/Learnic_demo_f12/index by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:49:44 GMT -->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>Learnic - Index</title>

    <%- include('partials/head', {cats});-%>


      <!-- Favicon Icon -->
      <link rel="icon" type="image/png" href="/images/fav.png">

      <!-- Stylesheets -->

      <style>
        .text {
          height: 50px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          /* number of lines to show */
          -webkit-box-orient: vertical;
        }


        .dropdown:hover>.dropdown-menu {
          display: block;
        }

        .dropdown-menu {
          min-height: 400px;
          min-width: 250px;
        }

        .dropdown>.dropdown-toggle:active {
          /*Without this, clicking will make it sticky*/
          pointer-events: none;
        }

        .dropdown-menu .dropdown-toggle:after {
          border-top: .3em solid transparent;
          border-right: 0;
          border-bottom: .3em solid transparent;
          border-left: .3em solid;
        }

        .dropdown-menu {
          margin: 0;
          min-height: 500px;
        }

        .megasubmenu {
          left: 100%;
          top: 0;
          min-height: 100%;
          min-width: 100%;
        }

        .dropdown-menu>li:hover .megasubmenu {
          display: block;
          padding-left: 5%;

        }
      </style>
  </head>

  <body>
    <!-- Header Start -->
    <%- include('partials/navbar'); -%>
      <!-- Header End -->
      <!-- Left Sidebar Start -->

      <!-- <%- include('partials/left-menu'); -%> -->
      <!-- Left Sidebar End -->
      <!-- Body Start -->
      <div class="wrapper">
        <div class="sa4d25">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-9 col-lg-8">
                <%- include ('partials/flash.ejs') %>
                  <div class="section3125">
                    <h4 class="item_title">People Enroll Most Last Week</h4>
                    <div class="la5lo1">
                      <div class="owl-carousel featured_courses owl-theme">

                        <% for (let enroll of topEnrolls) {%>
                          <div class="item">
                            <div class="fcrse_1 mb-20">
                              <a href=<%="/course/" + enroll._id %> class="fcrse_img">
                                <img src="<%=enroll.avatar %> " alt="">
                                <div class="course-overlay">
                                  <% if (enroll.badge) {%>
                                    <div class="badge_seller">
                                      <%=enroll.badge %>
                                    </div>
                                    <%}%>

                                      <div class="crse_reviews">
                                        <i class='uil uil-star'></i>
                                        <%=enroll.avgRate%>
                                      </div>
                                      <span class="play_btn1"><i class="uil uil-play"></i></span>
                                      <div class="crse_timer">
                                        <%=enroll.durationText%>
                                      </div>
                                </div>
                              </a>

                              <div class="fcrse_content">
                                <div class="eps_dots more_dropdown">
                                  <a href="#"><i class='uil uil-ellipsis-v'></i></a>
                                  <div class="dropdown-content">
                                    <span><i class='uil uil-share-alt'></i>Share</span>
                                    <span><i class="uil uil-clock-three"></i>Save</span>
                                    <span><i class='uil uil-ban'></i>Not Interested</span>
                                    <span><i class="uil uil-windsock"></i>Report</span>
                                  </div>
                                </div>
                                <div class="vdtodt">
                                  <span class="vdt14">
                                    <%=enroll.weekCount%> new students
                                  </span>
                                  <span class="vdt14">Updated: <%=enroll.updatedAt.toLocaleDateString()%></span>
                                </div>
                                <a href=<%- `/course/${enroll._id}` %> class="crse14s text">
                                  <%=enroll.title%>
                                </a>
                                <a href=<%- `/courses/category/${enroll.subCategory._id}` %> class="crse-cate">
                                  <%= enroll.category.name %> | <%= enroll.subCategory.name %>
                                </a>
                                <div class="auth1lnkprce">
                                  <p class="cr1fot">By <a href="#">
                                      <%= enroll.lecturer.name %>
                                    </a></p>
                                  <div class="prce142">
                                    <% if (enroll.price !==0) {%>
                                      $<%=enroll.price %>
                                        <%} else {%>
                                          FREE
                                          <% } %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <% } %>

                      </div>
                    </div>
                  </div>


                  <div class="section3125">
                    <h4 class="item_title">Most Viewed Courses</h4>
                    <div class="la5lo1">
                      <div class="owl-carousel featured_courses owl-theme">
                        <% for (let view of topViews) {%>
                          <div class="item">
                            <div class="fcrse_1 mb-20">
                              <a href=<%="/course/" + view._id %> class="fcrse_img">
                                <img src="<%=view.avatar %> " alt="">
                                <div class="course-overlay">
                                  <% if (view.badge) {%>
                                    <div class="badge_seller">
                                      <%=view.badge %>
                                    </div>
                                    <%}%>

                                      <div class="crse_reviews">
                                        <i class='uil uil-star'></i>
                                        <%=view.avgRate%>
                                      </div>
                                      <span class="play_btn1"><i class="uil uil-play"></i></span>
                                      <div class="crse_timer">
                                        <%=view.durationText%>
                                      </div>
                                </div>
                              </a>

                              <div class="fcrse_content">
                                <div class="eps_dots more_dropdown">
                                  <a href="#"><i class='uil uil-ellipsis-v'></i></a>
                                  <div class="dropdown-content">
                                    <span><i class='uil uil-share-alt'></i>Share</span>
                                    <span><i class="uil uil-clock-three"></i>Save</span>
                                    <span><i class='uil uil-ban'></i>Not Interested</span>
                                    <span><i class="uil uil-windsock"></i>Report</span>
                                  </div>
                                </div>
                                <div class="vdtodt">
                                  <span class="vdt14">
                                    <%=view.viewCount%> views
                                  </span>
                                  <span class="vdt14">Updated: <%=view.updatedAt.toLocaleDateString()%></span>
                                </div>
                                <a href=<%- `/course/${view._id}` %> class="crse14s text">
                                  <%=view.title%>
                                </a>
                                <a href=<%- `/courses/category/${view.subCategory._id}` %> class="crse-cate">
                                  <%= view.category.name %> | <%= view.subCategory.name %>
                                </a>
                                <div class="auth1lnkprce">
                                  <p class="cr1fot">By <a href="#">
                                      <%= view.lecturer.name %>
                                    </a></p>
                                  <div class="prce142">
                                    <% if (view.price !==0) {%>
                                      $<%=view.price %>
                                        <%} else {%>
                                          FREE
                                          <% } %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <% } %>
                      </div>
                    </div>
                  </div>


                  <div class="section3125">
                    <h4 class="item_title">Most Wanted Courses</h4>
                    <div class="la5lo1">
                      <div class="owl-carousel featured_courses owl-theme">
                        <% for (let fav of topFavorites) {%>
                          <div class="item">
                            <div class="fcrse_1 mb-20">
                              <a href=<%="/course/" + fav._id %> class="fcrse_img">
                                <img src="<%=fav.avatar %> " alt="">
                                <div class="course-overlay">
                                  <% if (fav.badge) {%>
                                    <div class="badge_seller">
                                      <%=fav.badge %>
                                    </div>
                                    <%}%>

                                      <div class="crse_reviews">
                                        <i class='uil uil-star'></i>
                                        <%=fav.avgRate%>
                                      </div>
                                      <span class="play_btn1"><i class="uil uil-play"></i></span>
                                      <div class="crse_timer">
                                        <%=fav.durationText%>
                                      </div>
                                </div>
                              </a>

                              <div class="fcrse_content">
                                <div class="eps_dots more_dropdown">
                                  <a href="#"><i class='uil uil-ellipsis-v'></i></a>
                                  <div class="dropdown-content">
                                    <span><i class='uil uil-share-alt'></i>Share</span>
                                    <span><i class="uil uil-clock-three"></i>Save</span>
                                    <span><i class='uil uil-ban'></i>Not Interested</span>
                                    <span><i class="uil uil-windsock"></i>Report</span>
                                  </div>
                                </div>
                                <div class="vdtodt">
                                  <span class="vdt14">
                                    <%=fav.favoriteCount%> favorites
                                  </span>
                                  <span class="vdt14">Updated: <%=fav.updatedAt.toLocaleDateString()%></span>
                                </div>
                                <a href=<%- `/course/${fav._id}` %> class="crse14s text">
                                  <%=fav.title%>
                                </a>
                                <a href=<%- `/courses/category/${fav.subCategory._id}` %> class="crse-cate">
                                  <%= fav.category.name %> | <%= fav.subCategory.name %>
                                </a>
                                <div class="auth1lnkprce">
                                  <p class="cr1fot">By <a href="#">
                                      <%= fav.lecturer.name %>
                                    </a></p>
                                  <div class="prce142">
                                    <% if (fav.price !==0) {%>
                                      $<%=fav.price %>
                                        <%} else {%>
                                          FREE
                                          <% } %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <% } %>
                      </div>
                    </div>
                  </div>


                  <div class="section3125">
                    <h4 class="item_title">Newest Courses</h4>
                    <div class="la5lo1">
                      <div class="owl-carousel featured_courses owl-theme">

                        <% for (let newcourse of newests) {%>
                          <div class="item">
                            <div class="fcrse_1 mb-20">
                              <a href=<%="/course/" + newcourse._id %> class="fcrse_img">
                                <img src="<%=newcourse.avatar %> " alt="">
                                <div class="course-overlay">
                                  <% if (newcourse.badge) {%>
                                    <div class="badge_seller">
                                      <%=newcourse.badge %>
                                    </div>
                                    <%}%>

                                      <div class="crse_reviews">
                                        <i class='uil uil-star'></i>
                                        <%=newcourse.avgRate%>
                                      </div>
                                      <span class="play_btn1"><i class="uil uil-play"></i></span>
                                      <div class="crse_timer">
                                        <%=newcourse.durationText%>
                                      </div>
                                </div>
                              </a>

                              <div class="fcrse_content">
                                <div class="eps_dots more_dropdown">
                                  <a href="#"><i class='uil uil-ellipsis-v'></i></a>
                                  <div class="dropdown-content">
                                    <span><i class='uil uil-share-alt'></i>Share</span>
                                    <span><i class="uil uil-clock-three"></i>Save</span>
                                    <span><i class='uil uil-ban'></i>Not Interested</span>
                                    <span><i class="uil uil-windsock"></i>Report</span>
                                  </div>
                                </div>
                                <div class="vdtodt">
                                  <span class="vdt14">
                                    <%=newcourse.viewCount%> views
                                  </span>
                                  <span class="vdt14">Created: <%=newcourse.createdAt.toLocaleDateString()%>
                                  </span>
                                </div>
                                <a href=<%- `/course/${newcourse._id}` %> class="crse14s text">
                                  <%=newcourse.title%>
                                </a>
                                <a href=<%- `/courses/category/${newcourse.subCategory._id}` %> class="crse-cate">
                                  <%= newcourse.category.name %> | <%= newcourse.subCategory.name %>
                                </a>
                                <div class="auth1lnkprce">
                                  <p class="cr1fot">By <a href="#">
                                      <%= newcourse.lecturer.name %>
                                    </a></p>
                                  <div class="prce142">
                                    <% if (newcourse.price !==0) {%>
                                      $<%=newcourse.price %>
                                        <%} else {%>
                                          FREE
                                          <% } %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <% } %>

                      </div>
                    </div>
                  </div>


                  <div class="section3125 mt-30">
                    <h4 class="item_title">Top categories people enroll most within last week</h4>
                    <div class="la5lo1">
                      <div class="row">
                        <% for (let wcat of topWeeklySubCats) { %>
                          <div class="col-md-4 col-sm-6">
                            <a href=<%="courses/category/" + wcat._id%> class="certilink__152">
                              <%=wcat.name %>
                            </a>
                          </div>
                          <% } %>
                      </div>
                    </div>
                  </div>



                  <div class="section3126">
                    <div class="row">
                      <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="value_props">
                          <div class="value_icon">
                            <i class='uil uil-history'></i>
                          </div>
                          <div class="value_content">
                            <h4>Go at your own pace</h4>
                            <p>Enjoy lifetime access to courses on Edututs+'s website</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="value_props">
                          <div class="value_icon">
                            <i class='uil uil-user-check'></i>
                          </div>
                          <div class="value_content">
                            <h4>Learn from industry experts</h4>
                            <p>Select from top instructors around the world</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="value_props">
                          <div class="value_icon">
                            <i class='uil uil-play-circle'></i>
                          </div>
                          <div class="value_content">
                            <h4>Find video courses on almost any topic</h4>
                            <p>Build your library for your career and personal growth</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="value_props">
                          <div class="value_icon">
                            <i class='uil uil-presentation-play'></i>
                          </div>
                          <div class="value_content">
                            <h4>100,000 online courses</h4>
                            <p>Explore a variety of fresh topics</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-xl-1 col-lg-4">
                <div class="right_side">
                  <div class="fcrse_3 position-fixed">
                    <div class="cater_ttle">
                      <h4>Top Categories</h4>
                    </div>
                    <ul class="allcate15">
                      <% for (let cat of topSubCats) {%>

                        <li><a href=<%="courses/category/" + cat._id%> class="ct_item"><i class='uil uil-arrow'></i>
                            <%=cat.name %>
                          </a></li>
                        <%}%>


                    </ul>
                  </div>

                </div>
              </div>

            </div>
          </div>
          <%- include('partials/footer'); -%>
        </div>
        <!-- Body End -->

        <script src="/js/vertical-responsive-menu.min.js"></script>
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/OwlCarousel/owl.carousel.js"></script>
        <script src="/vendor/semantic/semantic.min.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/night-mode.js"></script>

      </div>


  </body>

  <!-- Mirrored from gambolthemes.net/html-items/Learnic_demo_f12/index by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:50:50 GMT -->

</html>