<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from gambolthemes.net/html-items/Learnic_demo_f12/live_output.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:57:19 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>Learnic - Live Output</title>

    <!-- Favicon Icon -->
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="/images/fav.png">

    <%- include('partials/head');-%>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />

    <style>
        .text {
            height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* number of lines to show */
            -webkit-box-orient: vertical;
        }


        .dropdown:hover>.dropdown-menu {
            display: block;
        }

        .dropdown-menu {
            min-height: 400px;
            min-width: 250px;
        }

        .dropdown>.dropdown-toggle:active {
            /*Without this, clicking will make it sticky*/
            pointer-events: none;
        }

        .dropdown-menu .dropdown-toggle:after {
            border-top: .3em solid transparent;
            border-right: 0;
            border-bottom: .3em solid transparent;
            border-left: .3em solid;
        }

        .dropdown-menu {
            margin: 0;
            min-height: 500px;
        }

        .megasubmenu {
            left: 100%;
            top: 0;
            min-height: 100%;
            min-width: 100%;
        }

        .dropdown-menu>li:hover .megasubmenu {
            display: block;
            padding-left: 5%;

        }

    </style>



</head>

<body>
<!-- Header Start -->
<%- include('partials/navbar'); -%>

<!-- Header End -->
<!-- Left Sidebar Start -->
<nav class="vertical_nav">
    <div class="left_section menu_left" id="js-menu" >
        <div class="left_section">
            <ul>
                <%for(var i=0;i<course.chapter.length;i++){%>
                <li class="menu--item  menu--item__has_sub_menu ">
                    <label class="menu--link" title="Pages">
                        <i class='uil uil-file menu--icon'></i>
                        <span class="menu--label" style="word-wrap:break-word; white-space: normal">
                            <%=course.chapter[i].title%>
                        </span>
                    </label>
                    <ul class="sub_menu">
                        <%for(var j=0;j<course.chapter[i].lecture.length;j++){%>
                        <div class="ui section divider" style="margin: 0"></div>
                        <li class="sub_menu--item">
                            <a  class="sub_menu--link lecture" style="word-wrap: break-word "
                                data-source="<%=course.chapter[i].lecture[j].file%>"
                                data-content="<%=course.chapter[i].lecture[j].description%>">
                            <%=course.chapter[i].lecture[j].title%>
                                </a>
                        </li>
                        <%}%>



                    </ul>
                </li>
                <%}%>
            </ul>
        </div>

    </div>
</nav>
<!-- Left Sidebar End -->
<!-- Body Start -->
<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="section3125">
                        <div class="live1452 ">
<!--                            <iframe src="/upload/video/5ffa725c3edfd85610eae295_5ffa725c3edfd85610eae297.mp4" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                            <video id="my-video" class="video-js vjs-default-skin vjs-16-9" controls preload="auto" width="auto" height="auto"
                                    data-setup="{}">
                                <source src="/upload/video/5ffa725c3edfd85610eae295_5ffa725c3edfd85610eae297.mp4" type="video/mp4" />

                            </video>
                        </div>
                        <div class="user_dt5">
                            <div class="user_dt_left">
                                <div class="live_user_dt">
                                    <div class="user_cntnt">
                                        <button class="subscribe-btn">Finished</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="section3125 mb-15 mt-20">
                        <div class="row">
                            <h4 class="item_title">Content</h4>
                        </div>

                        <div class="row" >
                            <div class="col-12" id="content_lecture" style="font-size: 16px">wqeqwwasdkjsakldjakljljsdjlkdlaksd
                                lkjdaljslkajdlkjklsajdklasjdklsajdklsad
                                asdkljasdkljaskldjaslkdj
                                askldjaklsjdalskjdslakd
                                aslkdjsakldjqsadsad</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>
</div>
<!-- Body End -->

<script src="/js/vertical-responsive-menu.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/OwlCarousel/owl.carousel.js"></script>
<script src="/vendor/semantic/semantic.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/night-mode.js"></script>
<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
<script>
    $.extend({
        el: function(el, props) {
            let $el = $($("<"+el+" />"));
            $el.attr(props);
            return $el;
        }
    });
    $('a.lecture').click(function () {
        var myVideo = videojs('my-video');
        myVideo.src([
            {type: "video/mp4", src: `${$(this).data('source')}`}
        ]);
        $('#content_lecture').html($(this).data('content'))
    })

</script>
</body>

<!-- Mirrored from gambolthemes.net/html-items/Learnic_demo_f12/live_output.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:57:19 GMT -->
</html>