<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from gambolthemes.net/html-items/Learnic_demo_f12/create_new_course by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:55:52 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>Learnic - My Course</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="/images/fav.png">

    <!-- Stylesheets -->
    <%- include('../partials/head'); -%>
    <link href="/css/instructor-dashboard.css" rel="stylesheet" type="text/css">
    <link href="/css/instructor-responsive.css" rel=rel="stylesheet" type="text/css">
    <link href="/css/vertical-responsive-menu1.min.css" rel="stylesheet" type="text/css">
    <link href="/css/jquery-steps.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">



</head>

<body>
<!-- Header Start -->
<%- include('../partials/instructor-navbar'); -%>
<!-- Header End -->
<!-- Left Sidebar Start -->
<%- include('../partials/instructor-left-menu'); -%>
<!-- Left Sidebar End -->
<!-- Body Start -->
<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="st_title"><i class="uil uil-book-alt"></i>Courses</h2>
                </div>
                <div class="col-md-12">
                    <div class="card_dash1">
                        <div class="card_dash_left1">
                            <i class="uil uil-book-alt"></i>
                            <h1>Jump Into Course Creation</h1>
                        </div>
                        <div class="card_dash_right1">
                            <button class="create_btn_dash" onclick="window.location.href = 'create';">Create Your Course</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="my_courses_tabs">
                        <ul class="nav nav-pills my_crse_nav" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-my-courses-tab" data-toggle="pill" href="#pills-my-courses" role="tab" aria-controls="pills-my-courses" aria-selected="true"><i class="uil uil-book-alt"></i>My Courses</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="pills-discount-tab" data-toggle="pill" href="#pills-discount" role="tab" aria-controls="pills-discount" aria-selected="false"><i class="uil uil-tag-alt"></i>Discounts</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-my-courses" role="tabpanel">
                                <div class="table-responsive mt-30">
                                    <table class="table ucp-table row-border"  id="courseTable">
                                        <thead class="thead-s">
                                        <tr>
                                            <th class="text-center" scope="col">Item No.</th>
                                            <th>Title</th>
                                            <th class="text-center" scope="col">Publish Date</th>
                                            <th class="text-center" scope="col">Sales</th>
                                            <th class="text-center" scope="col">Parts</th>
                                            <th class="text-center" scope="col">Category</th>
                                            <th class="text-center" scope="col">Status</th>
                                            <th class="text-center" scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% for(var i=0;i<course.length;i++){%>
                                        <tr data-id="<%=course[i]._id%>">
                                            <td class="text-center"><%=i+1%></td>
                                            <td><%=course[i].title%></td>

                                            <td class="text-center"><%=course[i].createdAt.toLocaleDateString("en-US")%></td>
                                            <td class="text-center"><%=course[i].enrollCount%></td>
                                            <td class="text-center"><%=course[i].chapter.length%></td>
                                            <td class="text-center"><a href="#"><%=course[i].categoryName%></a></td>
                                            <td class="text-center"><b class="text-danger"><%-(course[i].finished) ? "<i class='uil uil-check text-success' style='font-size: 150%'></i>" :""%></b></td>
                                            <td class="text-center">
                                                <a href="edit?id=<%= course[i]._id%>" title="Edit" class="gray-s"><i class="uil uil-edit-alt"></i></a>
                                                <a href="#" title="Delete" class="gray-s"><i class="uil uil-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        <%}%>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-discount" role="tabpanel">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <div class="panel-title adcrse1250">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    New Discount
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body adcrse_body">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <div class="discount_form">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="mt-20 lbel25">
                                                                        <label>Course*</label>
                                                                    </div>
                                                                    <select class="ui hj145 dropdown cntry152 prompt srch_explore">
                                                                        <option value="">Select Course</option>
                                                                        <option value="1">Course Title Here</option>
                                                                        <option value="2">Course Title Here</option>
                                                                        <option value="3">Course Title Here</option>
                                                                        <option value="4">Course Title Here</option>
                                                                        <option value="5">Course Title Here</option>
                                                                        <option value="6">Course Title Here</option>
                                                                        <option value="7">Course Title Here</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="ui search focus mt-20 lbel25">
                                                                        <label>Discount Amount</label>
                                                                        <div class="ui left icon input swdh19">
                                                                            <input class="prompt srch_explore" type="number" name="off" value="" required="" min="1" max="99" placeholder="Percent (eg. 20 for 20%)">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="ui search focus mt-20 lbel25">
                                                                        <label>Start Date</label>
                                                                        <div class="ui left icon input swdh19">
                                                                            <input class="prompt srch_explore datepicker-here" type="text" data-language="en" placeholder="dd/mm/yyyy">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="ui search focus mt-20 lbel25">
                                                                        <label>End Date</label>
                                                                        <div class="ui left icon input swdh19">
                                                                            <input class="prompt srch_explore datepicker-here" type="text" data-language="en" placeholder="dd/mm/yyyy">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                    <button class="discount_btn" type="submit">Save Changes</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive mt-30">
                                    <table class="table ucp-table">
                                        <thead class="thead-s">
                                        <tr>
                                            <th class="text-center" scope="col">Item No.</th>
                                            <th class="cell-ta">Course</th>
                                            <th class="text-center" scope="col">Start Date</th>
                                            <th class="text-center" scope="col">End Date</th>
                                            <th class="text-center" scope="col">Discount</th>
                                            <th class="text-center" scope="col">Status</th>
                                            <th class="text-center" scope="col">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">01</td>
                                            <td class="cell-ta">Course Title Here</td>
                                            <td class="text-center">02 November 2019</td>
                                            <td class="text-center">19 November 2019</td>
                                            <td class="text-center">20%</td>
                                            <td class="text-center"><b class="course_active">Active</b></td>
                                            <td class="text-center">
                                                <a href="#" title="Edit" class="gray-s"><i class="uil uil-edit-alt"></i></a>
                                                <a href="#" title="Delete" class="gray-s"><i class="uil uil-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer'); -%>
</div>
<!-- Body End -->
<%- include('../partials/footer'); -%>
<script src="/js/vertical-responsive-menu.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/OwlCarousel/owl.carousel.js"></script>
<script src="/vendor/semantic/semantic.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/night-mode.js"></script>
<script src="/js/jquery-steps.min.js"></script>
<!--Hàm chung-->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>

<script>
    $.extend({
        el: function(el, props) {
            let $el = $($("<"+el+" />"));
            $el.attr(props);
            return $el;
        }
    });
    $(document).ready(function () {
        let table= $('#courseTable').DataTable();
        $('a[title="Delete"]').click(function () {
            let id = $(this).closest('tr').data('id');
            $tr=$(this).closest('tr');
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        async: false,
                        url: "/lecturer/delCourse",
                        type: 'POST',
                        contentType: "application/json; charset=UTF-8",
                        data: JSON.stringify({ id:id }),
                        success: function (data) {
                            if(data.success)
                            {
                                Swal.fire(
                                    'Deleted!',
                                    'Course has been deleted.',
                                    'success'
                                ).then( () =>{
                                    table.row($tr).remove().draw();
                                })
                            }
                            else{
                                Swal.fire(
                                    'Fail!',
                                    'Delete course Fail !!!.',
                                    'error'
                                )
                            }
                        },
                        error: function (result) {
                            Swal.fire(
                                'Error!',
                                `${JSON.stringify(result)}`,
                                'error'
                            );
                        }

                    })


                }
            })
        })
    })
</script>
</body>

<!-- Mirrored from gambolthemes.net/html-items/Learnic_demo_f12/create_new_course by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:56:02 GMT -->
</html>